@use './styles/globals';
@use './styles/mixins' as *;



.app {
  background-color: #121212;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  @include tablet {
    // position: relative;
  }
  
}

.game {
  width: 100%;
  
  height: calc(100% - 59px);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  
  
  
  
}








